.boss-grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 70px;
    gap: 16px;
    padding: 24px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    align-content: start;
    box-sizing: border-box;
}


.boss-card{ 
    display: flex;
    align-items: center;
    background-color: #1e293b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    position: relative;
}

.boss-card:hover{
    transform: translateY(-3px);
    background-color: #334115;
    border-color: #8b5cf6;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.boss-image-wrapper{
    width: 70px;
    height: 100%;
    flex-shrink: 0;
    background-color: #0f172a;;
}

.boss-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boss-info {
    padding: 0 16px;
    flex-grow: 1;
    overflow: hidden;
}

.boss-name{
    color: #f1f5f9;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}